.App {
  text-align: center;
}
.container{
  background-image: url("https://t3.ftcdn.net/jpg/01/22/71/96/360_F_122719641_V0yw2cAOrfxsON3HeWi2Sf4iVxhv27QO.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height:950px;
}
.signup_body,.login_body,.reset_body,.forgot_body{
  background-image: url("https://e0.pxfuel.com/wallpapers/667/98/desktop-wallpaper-login-background-outlook-login.jpg");
  align-content: center;
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}
.signup_form{
  width:50%;
  margin: 30px;
}
.signup_field,.login_field,.reset_field,.forgot_field{
  width:100%
}
.signup_button,.login_button,.reset_button,.forgot_button{
  margin:20px;
}
.login_form,.forgot_form,.reset_form{
  width:50%;
  margin: 50px;
}
.forgot_button{
  background-color: transparent;
  color: blue;
  border: none;
  border-radius: 5px;
  padding:10px;
}
.dash_img{
  margin-top:40px;
  width:80%;
  height:800px;
}